<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebBrowserCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86"/>
    </assemblyBinding>
  </runtime>
    <userSettings>
        <WebBrowserCS.Properties.Settings>
            <setting name="HomePage" serializeAs="String">
                <value>http://www.google.com/</value>
            </setting>
            <setting name="Search1" serializeAs="String">
                <value>http://www.google.com/search?q=</value>
            </setting>
            <setting name="Search2" serializeAs="String">
                <value>http://www.bing.com/search?q=</value>
            </setting>
            <setting name="Search3" serializeAs="String">
                <value>undefined</value>
            </setting>
            <setting name="Search4" serializeAs="String">
                <value>http://wikipedia.org/w/index.php?search=</value>
            </setting>
            <setting name="Search5" serializeAs="String">
                <value>undefined</value>
            </setting>
            <setting name="DefaultSearch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Elembgcolor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="Windowbgcolor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="Textcolor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultNewTab" serializeAs="String">
                <value>IETab</value>
            </setting>
        </WebBrowserCS.Properties.Settings>
    </userSettings>
</configuration>
